* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* *********************** Preloader  *********************** */

/* .loader {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    inset: 0 0 0 0;
    z-index: 50;
}
.mySpinner {
    position: fixed;
    inset: 0 0 0 0;
    animation: fadeOut 1s linear 1 forwards;
}
@keyframes fadeOut {
    0% {
        background-color: #000000;
    }
    100% {
        background-color: #00000000;
    }
}
.spiContainer {
    position: fixed;
    inset: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}
.spinner {
    width: 44.8px;
    height: 44.8px;
    display: inline-block;
    margin: 0 20px;
    animation: spinner-y0fdc1 2s infinite ease;
    transform-style: preserve-3d;
}

.spinner div {
    background-color: rgba(29, 34, 69, 0.2);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2.2px solid #1f4871;
}

.spinner div:nth-of-type(1) {
    transform: translateZ(-22.4px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
}

.spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
}

.spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
}

.spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
    transform: translateZ(22.4px);
}

@keyframes spinner-y0fdc1 {
    0% {
        transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }

    50% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }

    100% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
}
.fading-up {
    position: absolute;
    inset: 0 0 0 0;
    animation: fading 2s linear 1 forwards;
    z-index: 20;
}
@keyframes fading {
    0% {
        background-color:rgba(18, 18, 29, 0.958);
    }
    100% {
        background-color: rgba(18, 18, 29, 0);
    }
} */
/* *********************** Preloader  *********************** */
body {
    min-height: 100vh;
    /* background-image: url(../../content/images/hero-background.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    background: #000;
}
.header {
    height: 60px;
    background-color: #9a9a9a48;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    box-shadow: 0 5px 15px #9a9a9a37;
}
.containers {
    height: 100%;
}
.navbar {
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 35px;
    text-decoration: none;
    font-weight: 700;
    color: #ffffff;
}

.menus {
    margin-top: 0;
    padding: 0;
    display: flex;
    list-style: none;
    margin-bottom: 0;
}
.menus li {
    height: 60px;
}
.menus a {
    height: 100%;
    padding: 0  20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
    &:hover {
        background-color: #ffffff4b;
    }
}

.menubar {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
}

.navbar .toggle {
    display: none;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.toggle .bar {
    width: 23px;
    height: 2px;
    margin: 5px 0;
    display: block;
    background-color: #ffffff;
    border-radius: 50px;
    transition: .2s linear;
}

.toggle.active .bar:nth-child(2) {
    opacity: 0;
}
.toggle.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}
.toggle.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

/* Banner Section */
.banner {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
.circle_container {
    position: absolute;
    inset: 0 0 0 0;
    z-index: -200;
}
.circle_container::before {
    position: absolute;
    content: "";
    inset: 0 0 0 0;
    background: linear-gradient(transparent, #41ff33, transparent);
    z-index: -1;
    animation: topTobottom 5s linear infinite;
}
@keyframes topTobottom {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}
.circle_container .cirle {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
}
.circle_container .cirle span {
    width: 400px;
    height: 400px;
    flex-grow: 1;
    background: #000000;
}
.banner .b_img {
    width: 500px;
    height: 600px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../../content/images/ProfilePicture-Photoroom.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -100;
}
.b_img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0 0 0 0;
    z-index: 50;
    background: linear-gradient( transparent, #000);
}
.b_img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0 0 0 0;
    z-index: 50;
    background: radial-gradient( transparent, #000);
}
.mini-stars {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0 0 0 0;
    z-index: 500;
}
.mini-stars .star:nth-child(1) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #41ff33;
    box-shadow: 0 0 15px #70ffb5, 
                0 0 25px #70ffb5, 
                0 0 35px #70ffb5,
                0 0 65px #70ffb5;
    animation: starsFade1 20s linear infinite;
}

@keyframes starsFade1 {
    0% {
        bottom: 0;
        left: 50%;
    }
    20% {
        bottom: 10%;
        left: 50%;
    }
    30% {
        bottom: 0%;
        left: 20%;
    }
    40% {
        bottom: 75%;
        left: 50%;
    }
    50% {
        bottom: 100%;
        left: 50%;
    }
    60% {
        bottom: 75%;
        left: 50%;
    }
    70% {
        bottom: 0%;
        left: 20%;
    }
    80% {
        bottom: 10%;
        left: 50%;
    }
    100% {
        bottom: 0%;
        left: 50%;
    }

}
.mini-stars .star:nth-child(2) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(-50%);
    background: #41ff33;
    box-shadow: 0 0 15px #70ffb5, 
                0 0 25px #70ffb5, 
                0 0 35px #70ffb5,
                0 0 65px #70ffb5;
    animation: starsFade2 20s linear infinite;
}

@keyframes starsFade2 {
    0% {
        bottom: 0;
        right: 50%;
    }
    20% {
        bottom: 10%;
        right: 50%;
    }
    30% {
        bottom: 0%;
        right: 20%;
    }
    40% {
        bottom: 75%;
        right: 50%;
    }
    50% {
        bottom: 100%;
        right: 50%;
    }
    60% {
        bottom: 75%;
        right: 50%;
    }
    70% {
        bottom: 0%;
        right: 20%;
    }
    80% {
        bottom: 10%;
        right: 50%;
    }
    100% {
        bottom: 0%;
        right: 50%;
    }

}
.mini-stars .star:nth-child(3) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #41ff33;
    box-shadow: 0 0 15px #70ffb5, 
                0 0 25px #70ffb5, 
                0 0 35px #70ffb5,
                0 0 65px #70ffb5;
    animation: starsFade3 20s linear infinite;
}

@keyframes starsFade3 {
    0% {
        bottom: 0;
        left: 50%;
    }
    20% {
        bottom: 10%;
        left: 50%;
    }
    30% {
        bottom: 10%;
        left: 20%;
    }
    40% {
        bottom: 75%;
        left: 50%;
    }
    50% {
        bottom: 100%;
        left: 50%;
    }
    60% {
        bottom: 75%;
        left: 50%;
    }
    70% {
        bottom: 10%;
        left: 20%;
    }
    80% {
        bottom: 10%;
        left: 50%;
    }
    100% {
        bottom: 0%;
        left: 50%;
    }

}
.mini-stars .star:nth-child(4) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(-50%);
    background: #41ff33;
    box-shadow: 0 0 15px #70ffb5, 
                0 0 25px #70ffb5, 
                0 0 35px #70ffb5,
                0 0 65px #70ffb5;
    animation: starsFade4 20s linear infinite;
}

@keyframes starsFade4 {
    0% {
        bottom: 0;
        right: 50%;
    }
    20% {
        bottom: 10%;
        right: 50%;
    }
    30% {
        bottom: 10%;
        right: 20%;
    }
    40% {
        bottom: 75%;
        right: 50%;
    }
    50% {
        bottom: 100%;
        right: 50%;
    }
    60% {
        bottom: 75%;
        right: 50%;
    }
    70% {
        bottom: 10%;
        right: 20%;
    }
    80% {
        bottom: 10%;
        right: 50%;
    }
    100% {
        bottom: 0%;
        right: 50%;
    }

}
.mini-stars .star:nth-child(5) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #41ff33;
    box-shadow: 0 0 15px #70ffb5, 
                0 0 25px #70ffb5, 
                0 0 35px #70ffb5,
                0 0 65px #70ffb5;
    animation: starsFade5 20s linear infinite;
}

@keyframes starsFade5 {
    0% {
        bottom: 0;
        left: 50%;
    }
    20% {
        bottom: 10%;
        left: 50%;
    }
    30% {
        bottom: 20%;
        left: 20%;
    }
    40% {
        bottom: 75%;
        left: 50%;
    }
    50% {
        bottom: 100%;
        left: 50%;
    }
    60% {
        bottom: 75%;
        left: 50%;
    }
    70% {
        bottom: 20%;
        left: 20%;
    }
    80% {
        bottom: 10%;
        left: 50%;
    }
    100% {
        bottom: 0%;
        left: 50%;
    }

}
.mini-stars .star:nth-child(6) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(-50%);
    background: #41ff33;
    box-shadow: 0 0 15px #70ffb5, 
                0 0 25px #70ffb5, 
                0 0 35px #70ffb5,
                0 0 65px #70ffb5;
    animation: starsFade6 20s linear infinite;
}

@keyframes starsFade6 {
    0% {
        bottom: 0;
        right: 50%;
    }
    20% {
        bottom: 10%;
        right: 50%;
    }
    30% {
        bottom: 20%;
        right: 20%;
    }
    40% {
        bottom: 75%;
        right: 50%;
    }
    50% {
        bottom: 100%;
        right: 50%;
    }
    60% {
        bottom: 75%;
        right: 50%;
    }
    70% {
        bottom: 20%;
        right: 20%;
    }
    80% {
        bottom: 10%;
        right: 50%;
    }
    100% {
        bottom: 0%;
        right: 50%;
    }

}
.mini-stars .star:nth-child(7) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #41ff33;
    box-shadow: 0 0 15px #70ffb5, 
                0 0 25px #70ffb5, 
                0 0 35px #70ffb5,
                0 0 65px #70ffb5;
    animation: starsFade7 20s linear infinite;
}

@keyframes starsFade7 {
    0% {
        bottom: 0;
        left: 50%;
    }
    20% {
        bottom: 10%;
        left: 50%;
    }
    30% {
        bottom: 30%;
        left: 20%;
    }
    40% {
        bottom: 75%;
        left: 50%;
    }
    50% {
        bottom: 100%;
        left: 50%;
    }
    60% {
        bottom: 75%;
        left: 50%;
    }
    70% {
        bottom: 30%;
        left: 20%;
    }
    80% {
        bottom: 10%;
        left: 50%;
    }
    100% {
        bottom: 0%;
        left: 50%;
    }

}
.mini-stars .star:nth-child(8) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(-50%);
    background: #41ff33;
    box-shadow: 0 0 15px #70ffb5, 
                0 0 25px #70ffb5, 
                0 0 35px #70ffb5,
                0 0 65px #70ffb5;
    animation: starsFade8 20s linear infinite;
}

@keyframes starsFade8 {
    0% {
        bottom: 0;
        right: 50%;
    }
    20% {
        bottom: 10%;
        right: 50%;
    }
    30% {
        bottom: 30%;
        right: 20%;
    }
    40% {
        bottom: 75%;
        right: 50%;
    }
    50% {
        bottom: 100%;
        right: 50%;
    }
    60% {
        bottom: 75%;
        right: 50%;
    }
    70% {
        bottom: 30%;
        right: 20%;
    }
    80% {
        bottom: 10%;
        right: 50%;
    }
    100% {
        bottom: 0%;
        right: 50%;
    }

}
.mini-stars .star:nth-child(9) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #41ff33;
    box-shadow: 0 0 15px #70ffb5, 
                0 0 25px #70ffb5, 
                0 0 35px #70ffb5,
                0 0 65px #70ffb5;
    animation: starsFade9 20s linear infinite;
}

@keyframes starsFade9 {
    0% {
        bottom: 0;
        left: 50%;
    }
    20% {
        bottom: 10%;
        left: 50%;
    }
    30% {
        bottom: 40%;
        left: 20%;
    }
    40% {
        bottom: 75%;
        left: 50%;
    }
    50% {
        bottom: 100%;
        left: 50%;
    }
    60% {
        bottom: 75%;
        left: 50%;
    }
    70% {
        bottom: 40%;
        left: 20%;
    }
    80% {
        bottom: 10%;
        left: 50%;
    }
    100% {
        bottom: 0%;
        left: 50%;
    }

}
.mini-stars .star:nth-child(10) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(-50%);
    background: #41ff33;
    box-shadow: 0 0 15px #70ffb5, 
                0 0 25px #70ffb5, 
                0 0 35px #70ffb5,
                0 0 65px #70ffb5;
    animation: starsFade10 20s linear infinite;
}

@keyframes starsFade10 {
    0% {
        bottom: 0;
        right: 50%;
    }
    20% {
        bottom: 10%;
        right: 50%;
    }
    30% {
        bottom: 40%;
        right: 20%;
    }
    40% {
        bottom: 75%;
        right: 50%;
    }
    50% {
        bottom: 100%;
        right: 50%;
    }
    60% {
        bottom: 75%;
        right: 50%;
    }
    70% {
        bottom: 40%;
        right: 20%;
    }
    80% {
        bottom: 10%;
        right: 50%;
    }
    100% {
        bottom: 0%;
        right: 50%;
    }

}
.mini-stars .star:nth-child(11) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #41ff33;
    box-shadow: 0 0 15px #70ffb5, 
                0 0 25px #70ffb5, 
                0 0 35px #70ffb5,
                0 0 65px #70ffb5;
    animation: starsFade11 20s linear infinite;
}

@keyframes starsFade11 {
    0% {
        bottom: 0;
        left: 50%;
    }
    20% {
        bottom: 10%;
        left: 50%;
    }
    30% {
        bottom: 50%;
        left: 20%;
    }
    40% {
        bottom: 75%;
        left: 50%;
    }
    50% {
        bottom: 100%;
        left: 50%;
    }
    60% {
        bottom: 75%;
        left: 50%;
    }
    70% {
        bottom: 50%;
        left: 20%;
    }
    80% {
        bottom: 10%;
        left: 50%;
    }
    100% {
        bottom: 0%;
        left: 50%;
    }

}
.mini-stars .star:nth-child(12) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(-50%);
    background: #41ff33;
    box-shadow: 0 0 15px #70ffb5, 
                0 0 25px #70ffb5, 
                0 0 35px #70ffb5,
                0 0 65px #70ffb5;
    animation: starsFade12 20s linear infinite;
}

@keyframes starsFade12 {
    0% {
        bottom: 0;
        right: 50%;
    }
    20% {
        bottom: 10%;
        right: 50%;
    }
    30% {
        bottom: 50%;
        right: 20%;
    }
    40% {
        bottom: 75%;
        right: 50%;
    }
    50% {
        bottom: 100%;
        right: 50%;
    }
    60% {
        bottom: 75%;
        right: 50%;
    }
    70% {
        bottom: 50%;
        right: 20%;
    }
    80% {
        bottom: 10%;
        right: 50%;
    }
    100% {
        bottom: 0%;
        right: 50%;
    }
}
.mini-stars .star:nth-child(13) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #41ff33;
    box-shadow: 0 0 15px #70ffb5, 
                0 0 25px #70ffb5, 
                0 0 35px #70ffb5,
                0 0 65px #70ffb5;
    animation: starsFade13 20s linear infinite;
}

@keyframes starsFade13 {
    0% {
        bottom: 0;
        left: 50%;
    }
    20% {
        bottom: 10%;
        left: 50%;
    }
    30% {
        bottom: 60%;
        left: 20%;
    }
    40% {
        bottom: 75%;
        left: 50%;
    }
    50% {
        bottom: 100%;
        left: 50%;
    }
    60% {
        bottom: 75%;
        left: 50%;
    }
    70% {
        bottom: 60%;
        left: 20%;
    }
    80% {
        bottom: 10%;
        left: 50%;
    }
    100% {
        bottom: 0%;
        left: 50%;
    }

}
.mini-stars .star:nth-child(14) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(-50%);
    background: #41ff33;
    box-shadow: 0 0 15px #70ffb5, 
                0 0 25px #70ffb5, 
                0 0 35px #70ffb5,
                0 0 65px #70ffb5;
    animation: starsFade14 20s linear infinite;
}

@keyframes starsFade14 {
    0% {
        bottom: 0;
        right: 50%;
    }
    20% {
        bottom: 10%;
        right: 50%;
    }
    30% {
        bottom: 60%;
        right: 20%;
    }
    40% {
        bottom: 75%;
        right: 50%;
    }
    50% {
        bottom: 100%;
        right: 50%;
    }
    60% {
        bottom: 75%;
        right: 50%;
    }
    70% {
        bottom: 60%;
        right: 20%;
    }
    80% {
        bottom: 10%;
        right: 50%;
    }
    100% {
        bottom: 0%;
        right: 50%;
    }
}
.mini-stars .star:nth-child(15) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #41ff33;
    box-shadow: 0 0 15px #70ffb5, 
                0 0 25px #70ffb5, 
                0 0 35px #70ffb5,
                0 0 65px #70ffb5;
    animation: starsFade15 20s linear infinite;
}

@keyframes starsFade15 {
    0% {
        bottom: 0;
        left: 50%;
    }
    20% {
        bottom: 10%;
        left: 50%;
    }
    30% {
        bottom: 70%;
        left: 20%;
    }
    40% {
        bottom: 75%;
        left: 50%;
    }
    50% {
        bottom: 100%;
        left: 50%;
    }
    60% {
        bottom: 75%;
        left: 50%;
    }
    70% {
        bottom: 70%;
        left: 20%;
    }
    80% {
        bottom: 10%;
        left: 50%;
    }
    100% {
        bottom: 0%;
        left: 50%;
    }

}
.mini-stars .star:nth-child(16) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(-50%);
    background: #41ff33;
    box-shadow: 0 0 15px #70ffb5, 
                0 0 25px #70ffb5, 
                0 0 35px #70ffb5,
                0 0 65px #70ffb5;
    animation: starsFade16 20s linear infinite;
}

@keyframes starsFade16 {
    0% {
        bottom: 0;
        right: 50%;
    }
    20% {
        bottom: 10%;
        right: 50%;
    }
    30% {
        bottom: 70%;
        right: 20%;
    }
    40% {
        bottom: 75%;
        right: 50%;
    }
    50% {
        bottom: 100%;
        right: 50%;
    }
    60% {
        bottom: 75%;
        right: 50%;
    }
    70% {
        bottom: 70%;
        right: 20%;
    }
    80% {
        bottom: 10%;
        right: 50%;
    }
    100% {
        bottom: 0%;
        right: 50%;
    }
}
.mini-stars .star:nth-child(17) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #41ff33;
    box-shadow: 0 0 15px #70ffb5, 
                0 0 25px #70ffb5, 
                0 0 35px #70ffb5,
                0 0 65px #70ffb5;
    animation: starsFade17 20s linear infinite;
}

@keyframes starsFade17 {
    0% {
        bottom: 0;
        left: 50%;
    }
    20% {
        bottom: 10%;
        left: 50%;
    }
    30% {
        bottom: 80%;
        left: 20%;
    }
    40% {
        bottom: 75%;
        left: 50%;
    }
    50% {
        bottom: 100%;
        left: 50%;
    }
    60% {
        bottom: 75%;
        left: 50%;
    }
    70% {
        bottom: 80%;
        left: 20%;
    }
    80% {
        bottom: 10%;
        left: 50%;
    }
    100% {
        bottom: 0%;
        left: 50%;
    }

}
.mini-stars .star:nth-child(18) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(-50%);
    background: #41ff33;
    box-shadow: 0 0 15px #70ffb5, 
                0 0 25px #70ffb5, 
                0 0 35px #70ffb5,
                0 0 65px #70ffb5;
    animation: starsFade18 20s linear infinite;
}

@keyframes starsFade18 {
    0% {
        bottom: 0;
        right: 50%;
    }
    20% {
        bottom: 10%;
        right: 50%;
    }
    30% {
        bottom: 80%;
        right: 20%;
    }
    40% {
        bottom: 75%;
        right: 50%;
    }
    50% {
        bottom: 100%;
        right: 50%;
    }
    60% {
        bottom: 75%;
        right: 50%;
    }
    70% {
        bottom: 80%;
        right: 20%;
    }
    80% {
        bottom: 10%;
        right: 50%;
    }
    100% {
        bottom: 0%;
        right: 50%;
    }
}
.mini-stars .star:nth-child(19) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #41ff33;
    box-shadow: 0 0 15px #70ffb5, 
                0 0 25px #70ffb5, 
                0 0 35px #70ffb5,
                0 0 65px #70ffb5;
    animation: starsFade19 20s linear infinite;
}

@keyframes starsFade19 {
    0% {
        bottom: 0;
        left: 50%;
    }
    20% {
        bottom: 10%;
        left: 50%;
    }
    30% {
        bottom: 90%;
        left: 20%;
    }
    40% {
        bottom: 75%;
        left: 50%;
    }
    50% {
        bottom: 100%;
        left: 50%;
    }
    60% {
        bottom: 75%;
        left: 50%;
    }
    70% {
        bottom: 90%;
        left: 20%;
    }
    80% {
        bottom: 10%;
        left: 50%;
    }
    100% {
        bottom: 0%;
        left: 50%;
    }

}
.mini-stars .star:nth-child(20) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(-50%);
    background: #41ff33;
    box-shadow: 0 0 15px #70ffb5, 
                0 0 25px #70ffb5, 
                0 0 35px #70ffb5,
                0 0 65px #70ffb5;
    animation: starsFade20 20s linear infinite;
}

@keyframes starsFade20 {
    0% {
        bottom: 0;
        right: 50%;
    }
    20% {
        bottom: 10%;
        right: 50%;
    }
    30% {
        bottom: 90%;
        right: 20%;
    }
    40% {
        bottom: 75%;
        right: 50%;
    }
    50% {
        bottom: 100%;
        right: 50%;
    }
    60% {
        bottom: 75%;
        right: 50%;
    }
    70% {
        bottom: 90%;
        right: 20%;
    }
    80% {
        bottom: 10%;
        right: 50%;
    }
    100% {
        bottom: 0%;
        right: 50%;
    }
}
.mini-stars .star:nth-child(21) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #41ff33;
    box-shadow: 0 0 15px #70ffb5, 
                0 0 25px #70ffb5, 
                0 0 35px #70ffb5,
                0 0 65px #70ffb5;
    animation: starsFade21 20s linear infinite;
}

@keyframes starsFade21 {
    0% {
        bottom: 0;
        left: 50%;
    }
    20% {
        bottom: 10%;
        left: 50%;
    }
    30% {
        bottom: 100%;
        left: 20%;
    }
    40% {
        bottom: 75%;
        left: 50%;
    }
    50% {
        bottom: 100%;
        left: 50%;
    }
    60% {
        bottom: 75%;
        left: 50%;
    }
    70% {
        bottom: 100%;
        left: 20%;
    }
    80% {
        bottom: 10%;
        left: 50%;
    }
    100% {
        bottom: 0%;
        left: 50%;
    }

}
.mini-stars .star:nth-child(22) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(-50%);
    background: #41ff33;
    box-shadow: 0 0 15px #70ffb5, 
                0 0 25px #70ffb5, 
                0 0 35px #70ffb5,
                0 0 65px #70ffb5;
    animation: starsFade22 20s linear infinite;
}

@keyframes starsFade22 {
    0% {
        bottom: 0;
        right: 50%;
    }
    20% {
        bottom: 10%;
        right: 50%;
    }
    30% {
        bottom: 100%;
        right: 20%;
    }
    40% {
        bottom: 75%;
        right: 50%;
    }
    50% {
        bottom: 100%;
        right: 50%;
    }
    60% {
        bottom: 75%;
        right: 50%;
    }
    70% {
        bottom: 100%;
        right: 20%;
    }
    80% {
        bottom: 10%;
        right: 50%;
    }
    100% {
        bottom: 0%;
        right: 50%;
    }
}


.title {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    z-index: -50;
}
.heading {
    font-size: 50px;
}
.heading:first-child {
    font-size: 60px;
    & span {
        color: #70ffb5;
    }
}
/* Banner Section */