@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --heading-font: "Playfair Display", serif;
    --primary-font: "Oswald", sans-serif;
    --heading: #49769F;
    --sub-body: #0A4174;
    --body: #001D39;
    --link: #f9b17a;
    --sub-link: #424769;
    --white: #FFFFFF;
}
body {
    font-family: var(--primary-font);
    min-height: 100vh;
    background: var(--body);
}
::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: var(--heading);
}
::-webkit-scrollbar-thumb {
    background: var(--body);
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--sub-link);
}
::selection {
    background: var(--sub-link);
}
/* *********************** Preloader  *********************** */

.loader {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    inset: 0 0 0 0;
    z-index: 500000;
}
.mySpinner {
    position: fixed;
    inset: 0 0 0 0;
    animation: fadeOut 1s linear 1 forwards;
}
.mySpinner::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    border: 5px solid var(--heading);
    border-radius: 50%;
    animation: runOut .5s linear 1 forwards;
}
@keyframes runOut {
    0% {
        width: 5px;
        height: 5px;
        opacity: 1;
    }
    100% {
        width: 900px;
        height: 900px;
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        background-color: var(--body);
    }
    100% {
        background-color: #00000000;
    }
}
.spiContainer {
    position: fixed;
    inset: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body);
}
.spinner {
    width: 44.8px;
    height: 44.8px;
    display: inline-block;
    margin: 0 20px;
    animation: spinner-y0fdc1 2s infinite ease;
    transform-style: preserve-3d;
}

.spinner div {
    background-color: var(--sub-link);
    opacity: .2;
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2.2px solid var(--heading);
}

.spinner div:nth-of-type(1) {
    transform: translateZ(-22.4px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
}

.spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
}

.spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
}

.spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
    transform: translateZ(22.4px);
}

@keyframes spinner-y0fdc1 {
    0% {
        transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }

    50% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }

    100% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
}
.fading-up {
    position: absolute;
    inset: 0 0 0 0;
    animation: fading 2s linear 1 forwards;
    z-index: 20;
}
/* @keyframes fading {
    0% {
        background-color:rgba(18, 18, 29, 0.958);
    }
    100% {
        background-color: rgba(18, 18, 29, 0);
    }
} */
.invisible {
    display: none !important;
}
/* *********************** Preloader  *********************** */

.header {
    height: 60px;
    background-color: var(--heading);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    box-shadow: 0 5px 15px var(--sub-link);
    
}
.sticky {
    position: sticky;
    top: 0;
    animation: stickyHeader .5s linear 1 forwards;
    z-index: 200000;
}
@keyframes stickyHeader {
    0% {
        transform: translateY(-60px);
    }
    100% {
        transform: translateY(0px);
    }
}
.unsticky {
    animation: unstickyHeader .5s linear 1 forwards;
}
@keyframes unstickyHeader {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-60px);
    }
}
.toTop {
    position: fixed;
    bottom: 50px;
    right: 25px;
    
}
.toTop .topBtn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    outline: none;
    /* background: linear-gradient(180deg, var(--heading), var(--sub-body)); */
    background: var(--link);
    animation: topBtn .5s ease-in-out 1 forwards;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topBtn .arr {
    font-size: 20px;
    transition: .2s linear;

}
.topBtn:hover .arr {
    transform: translateY(-5px);
}
@keyframes topBtn {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
.containers {
    height: 100%;
}
.navbar {
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    width: 50px;
    height: 50px;
    display: inline-block;
}

.menus {
    margin-top: 0;
    padding: 0;
    display: flex;
    list-style: none;
    margin-bottom: 0;
}
.menus li {
    height: 60px;
}
.menus a {
    height: 100%;
    padding: 0  20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
    transition: all .3s linear;
    &:hover {
        background-color: var(--body);
        color: var(--link);
    }
}

.menus a.active {
    background-color: var(--body);
    color: var(--link);
}

.menubar {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
}

.navbar .toggle {
    display: none;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.toggle .bar {
    width: 23px;
    height: 2px;
    margin: 5px 0;
    display: block;
    background-color: var(--sub-body);
    border-radius: 50px;
    transition: .2s linear;
}

.toggle.active .bar:nth-child(2) {
    opacity: 0;
}
.toggle.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}
.toggle.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

/* Banner Section */
.banner {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: -200;
}
.circle_container {
    position: absolute;
    inset: 0 0 0 0;
    z-index: -200;
}
.circle_container::before {
    position: absolute;
    content: "";
    inset: 0 0 0 0;
    background: linear-gradient(transparent, var(--heading), transparent);
    z-index: -1;
    animation: topTobottom 5s linear infinite;
}
@keyframes topTobottom {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}
.circle_container .cirle {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
}
.circle_container .cirle span {
    width: 400px;
    height: 400px;
    flex-grow: 1;
    background: var(--body);
}
.banner .b_img {
    width: 500px;
    height: 600px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../../content/images/ProfilePicture-Photoroom.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -100;
}
.b_img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0 0 0 0;
    z-index: 50;
    background: linear-gradient( transparent, var(--body));
}
.b_img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0 0 0 0;
    z-index: 50;
    background: radial-gradient( transparent, var(--body));
}
.mini-stars {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0 0 0 0;
    z-index: -50;
}
.mini-stars .star:nth-child(1) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--heading);
    box-shadow: 0 0 15px var(--sub-link), 
                0 0 25px var(--sub-link), 
                0 0 35px var(--sub-link),
                0 0 65px var(--sub-link);
    animation: starsFade1 20s linear infinite;
}

@keyframes starsFade1 {
    0% {
        bottom: 0;
        left: 50%;
    }
    20% {
        bottom: 10%;
        left: 50%;
    }
    30% {
        bottom: 0%;
        left: 20%;
    }
    40% {
        bottom: 75%;
        left: 50%;
    }
    50% {
        bottom: 100%;
        left: 50%;
    }
    60% {
        bottom: 75%;
        left: 50%;
    }
    70% {
        bottom: 0%;
        left: 20%;
    }
    80% {
        bottom: 10%;
        left: 50%;
    }
    100% {
        bottom: 0%;
        left: 50%;
    }

}
.mini-stars .star:nth-child(2) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(-50%);
    background: var(--heading);
    box-shadow: 0 0 15px var(--sub-link), 
                0 0 25px var(--sub-link), 
                0 0 35px var(--sub-link),
                0 0 65px var(--sub-link);
    animation: starsFade2 20s linear infinite;
}

@keyframes starsFade2 {
    0% {
        bottom: 0;
        right: 50%;
    }
    20% {
        bottom: 10%;
        right: 50%;
    }
    30% {
        bottom: 0%;
        right: 20%;
    }
    40% {
        bottom: 75%;
        right: 50%;
    }
    50% {
        bottom: 100%;
        right: 50%;
    }
    60% {
        bottom: 75%;
        right: 50%;
    }
    70% {
        bottom: 0%;
        right: 20%;
    }
    80% {
        bottom: 10%;
        right: 50%;
    }
    100% {
        bottom: 0%;
        right: 50%;
    }

}
.mini-stars .star:nth-child(3) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--heading);
    box-shadow: 0 0 15px var(--sub-link), 
                0 0 25px var(--sub-link), 
                0 0 35px var(--sub-link),
                0 0 65px var(--sub-link);
    animation: starsFade3 20s linear infinite;
}

@keyframes starsFade3 {
    0% {
        bottom: 0;
        left: 50%;
    }
    20% {
        bottom: 10%;
        left: 50%;
    }
    30% {
        bottom: 10%;
        left: 20%;
    }
    40% {
        bottom: 75%;
        left: 50%;
    }
    50% {
        bottom: 100%;
        left: 50%;
    }
    60% {
        bottom: 75%;
        left: 50%;
    }
    70% {
        bottom: 10%;
        left: 20%;
    }
    80% {
        bottom: 10%;
        left: 50%;
    }
    100% {
        bottom: 0%;
        left: 50%;
    }

}
.mini-stars .star:nth-child(4) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(-50%);
    background: var(--heading);
    box-shadow: 0 0 15px var(--sub-link), 
                0 0 25px var(--sub-link), 
                0 0 35px var(--sub-link),
                0 0 65px var(--sub-link);
    animation: starsFade4 20s linear infinite;
}

@keyframes starsFade4 {
    0% {
        bottom: 0;
        right: 50%;
    }
    20% {
        bottom: 10%;
        right: 50%;
    }
    30% {
        bottom: 10%;
        right: 20%;
    }
    40% {
        bottom: 75%;
        right: 50%;
    }
    50% {
        bottom: 100%;
        right: 50%;
    }
    60% {
        bottom: 75%;
        right: 50%;
    }
    70% {
        bottom: 10%;
        right: 20%;
    }
    80% {
        bottom: 10%;
        right: 50%;
    }
    100% {
        bottom: 0%;
        right: 50%;
    }

}
.mini-stars .star:nth-child(5) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--heading);
    box-shadow: 0 0 15px var(--sub-link), 
                0 0 25px var(--sub-link), 
                0 0 35px var(--sub-link),
                0 0 65px var(--sub-link);
    animation: starsFade5 20s linear infinite;
}

@keyframes starsFade5 {
    0% {
        bottom: 0;
        left: 50%;
    }
    20% {
        bottom: 10%;
        left: 50%;
    }
    30% {
        bottom: 20%;
        left: 20%;
    }
    40% {
        bottom: 75%;
        left: 50%;
    }
    50% {
        bottom: 100%;
        left: 50%;
    }
    60% {
        bottom: 75%;
        left: 50%;
    }
    70% {
        bottom: 20%;
        left: 20%;
    }
    80% {
        bottom: 10%;
        left: 50%;
    }
    100% {
        bottom: 0%;
        left: 50%;
    }

}
.mini-stars .star:nth-child(6) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(-50%);
    background: var(--heading);
    box-shadow: 0 0 15px var(--sub-link), 
                0 0 25px var(--sub-link), 
                0 0 35px var(--sub-link),
                0 0 65px var(--sub-link);
    animation: starsFade6 20s linear infinite;
}

@keyframes starsFade6 {
    0% {
        bottom: 0;
        right: 50%;
    }
    20% {
        bottom: 10%;
        right: 50%;
    }
    30% {
        bottom: 20%;
        right: 20%;
    }
    40% {
        bottom: 75%;
        right: 50%;
    }
    50% {
        bottom: 100%;
        right: 50%;
    }
    60% {
        bottom: 75%;
        right: 50%;
    }
    70% {
        bottom: 20%;
        right: 20%;
    }
    80% {
        bottom: 10%;
        right: 50%;
    }
    100% {
        bottom: 0%;
        right: 50%;
    }

}
.mini-stars .star:nth-child(7) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--heading);
    box-shadow: 0 0 15px var(--sub-link), 
                0 0 25px var(--sub-link), 
                0 0 35px var(--sub-link),
                0 0 65px var(--sub-link);
    animation: starsFade7 20s linear infinite;
}

@keyframes starsFade7 {
    0% {
        bottom: 0;
        left: 50%;
    }
    20% {
        bottom: 10%;
        left: 50%;
    }
    30% {
        bottom: 30%;
        left: 20%;
    }
    40% {
        bottom: 75%;
        left: 50%;
    }
    50% {
        bottom: 100%;
        left: 50%;
    }
    60% {
        bottom: 75%;
        left: 50%;
    }
    70% {
        bottom: 30%;
        left: 20%;
    }
    80% {
        bottom: 10%;
        left: 50%;
    }
    100% {
        bottom: 0%;
        left: 50%;
    }

}
.mini-stars .star:nth-child(8) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(-50%);
    background: var(--heading);
    box-shadow: 0 0 15px var(--sub-link), 
                0 0 25px var(--sub-link), 
                0 0 35px var(--sub-link),
                0 0 65px var(--sub-link);
    animation: starsFade8 20s linear infinite;
}

@keyframes starsFade8 {
    0% {
        bottom: 0;
        right: 50%;
    }
    20% {
        bottom: 10%;
        right: 50%;
    }
    30% {
        bottom: 30%;
        right: 20%;
    }
    40% {
        bottom: 75%;
        right: 50%;
    }
    50% {
        bottom: 100%;
        right: 50%;
    }
    60% {
        bottom: 75%;
        right: 50%;
    }
    70% {
        bottom: 30%;
        right: 20%;
    }
    80% {
        bottom: 10%;
        right: 50%;
    }
    100% {
        bottom: 0%;
        right: 50%;
    }

}
.mini-stars .star:nth-child(9) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--heading);
    box-shadow: 0 0 15px var(--sub-link), 
                0 0 25px var(--sub-link), 
                0 0 35px var(--sub-link),
                0 0 65px var(--sub-link);
    animation: starsFade9 20s linear infinite;
}

@keyframes starsFade9 {
    0% {
        bottom: 0;
        left: 50%;
    }
    20% {
        bottom: 10%;
        left: 50%;
    }
    30% {
        bottom: 40%;
        left: 20%;
    }
    40% {
        bottom: 75%;
        left: 50%;
    }
    50% {
        bottom: 100%;
        left: 50%;
    }
    60% {
        bottom: 75%;
        left: 50%;
    }
    70% {
        bottom: 40%;
        left: 20%;
    }
    80% {
        bottom: 10%;
        left: 50%;
    }
    100% {
        bottom: 0%;
        left: 50%;
    }

}
.mini-stars .star:nth-child(10) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(-50%);
    background: var(--heading);
    box-shadow: 0 0 15px var(--sub-link), 
                0 0 25px var(--sub-link), 
                0 0 35px var(--sub-link),
                0 0 65px var(--sub-link);
    animation: starsFade10 20s linear infinite;
}

@keyframes starsFade10 {
    0% {
        bottom: 0;
        right: 50%;
    }
    20% {
        bottom: 10%;
        right: 50%;
    }
    30% {
        bottom: 40%;
        right: 20%;
    }
    40% {
        bottom: 75%;
        right: 50%;
    }
    50% {
        bottom: 100%;
        right: 50%;
    }
    60% {
        bottom: 75%;
        right: 50%;
    }
    70% {
        bottom: 40%;
        right: 20%;
    }
    80% {
        bottom: 10%;
        right: 50%;
    }
    100% {
        bottom: 0%;
        right: 50%;
    }

}
.mini-stars .star:nth-child(11) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--heading);
    box-shadow: 0 0 15px var(--sub-link), 
                0 0 25px var(--sub-link), 
                0 0 35px var(--sub-link),
                0 0 65px var(--sub-link);
    animation: starsFade11 20s linear infinite;
}

@keyframes starsFade11 {
    0% {
        bottom: 0;
        left: 50%;
    }
    20% {
        bottom: 10%;
        left: 50%;
    }
    30% {
        bottom: 50%;
        left: 20%;
    }
    40% {
        bottom: 75%;
        left: 50%;
    }
    50% {
        bottom: 100%;
        left: 50%;
    }
    60% {
        bottom: 75%;
        left: 50%;
    }
    70% {
        bottom: 50%;
        left: 20%;
    }
    80% {
        bottom: 10%;
        left: 50%;
    }
    100% {
        bottom: 0%;
        left: 50%;
    }

}
.mini-stars .star:nth-child(12) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(-50%);
    background: var(--heading);
    box-shadow: 0 0 15px var(--sub-link), 
                0 0 25px var(--sub-link), 
                0 0 35px var(--sub-link),
                0 0 65px var(--sub-link);
    animation: starsFade12 20s linear infinite;
}

@keyframes starsFade12 {
    0% {
        bottom: 0;
        right: 50%;
    }
    20% {
        bottom: 10%;
        right: 50%;
    }
    30% {
        bottom: 50%;
        right: 20%;
    }
    40% {
        bottom: 75%;
        right: 50%;
    }
    50% {
        bottom: 100%;
        right: 50%;
    }
    60% {
        bottom: 75%;
        right: 50%;
    }
    70% {
        bottom: 50%;
        right: 20%;
    }
    80% {
        bottom: 10%;
        right: 50%;
    }
    100% {
        bottom: 0%;
        right: 50%;
    }
}
.mini-stars .star:nth-child(13) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--heading);
    box-shadow: 0 0 15px var(--sub-link), 
                0 0 25px var(--sub-link), 
                0 0 35px var(--sub-link),
                0 0 65px var(--sub-link);
    animation: starsFade13 20s linear infinite;
}

@keyframes starsFade13 {
    0% {
        bottom: 0;
        left: 50%;
    }
    20% {
        bottom: 10%;
        left: 50%;
    }
    30% {
        bottom: 60%;
        left: 20%;
    }
    40% {
        bottom: 75%;
        left: 50%;
    }
    50% {
        bottom: 100%;
        left: 50%;
    }
    60% {
        bottom: 75%;
        left: 50%;
    }
    70% {
        bottom: 60%;
        left: 20%;
    }
    80% {
        bottom: 10%;
        left: 50%;
    }
    100% {
        bottom: 0%;
        left: 50%;
    }

}
.mini-stars .star:nth-child(14) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(-50%);
    background: var(--heading);
    box-shadow: 0 0 15px var(--sub-link), 
                0 0 25px var(--sub-link), 
                0 0 35px var(--sub-link),
                0 0 65px var(--sub-link);
    animation: starsFade14 20s linear infinite;
}

@keyframes starsFade14 {
    0% {
        bottom: 0;
        right: 50%;
    }
    20% {
        bottom: 10%;
        right: 50%;
    }
    30% {
        bottom: 60%;
        right: 20%;
    }
    40% {
        bottom: 75%;
        right: 50%;
    }
    50% {
        bottom: 100%;
        right: 50%;
    }
    60% {
        bottom: 75%;
        right: 50%;
    }
    70% {
        bottom: 60%;
        right: 20%;
    }
    80% {
        bottom: 10%;
        right: 50%;
    }
    100% {
        bottom: 0%;
        right: 50%;
    }
}
.mini-stars .star:nth-child(15) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--heading);
    box-shadow: 0 0 15px var(--sub-link), 
                0 0 25px var(--sub-link), 
                0 0 35px var(--sub-link),
                0 0 65px var(--sub-link);
    animation: starsFade15 20s linear infinite;
}

@keyframes starsFade15 {
    0% {
        bottom: 0;
        left: 50%;
    }
    20% {
        bottom: 10%;
        left: 50%;
    }
    30% {
        bottom: 70%;
        left: 20%;
    }
    40% {
        bottom: 75%;
        left: 50%;
    }
    50% {
        bottom: 100%;
        left: 50%;
    }
    60% {
        bottom: 75%;
        left: 50%;
    }
    70% {
        bottom: 70%;
        left: 20%;
    }
    80% {
        bottom: 10%;
        left: 50%;
    }
    100% {
        bottom: 0%;
        left: 50%;
    }

}
.mini-stars .star:nth-child(16) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(-50%);
    background: var(--heading);
    box-shadow: 0 0 15px var(--sub-link), 
                0 0 25px var(--sub-link), 
                0 0 35px var(--sub-link),
                0 0 65px var(--sub-link);
    animation: starsFade16 20s linear infinite;
}

@keyframes starsFade16 {
    0% {
        bottom: 0;
        right: 50%;
    }
    20% {
        bottom: 10%;
        right: 50%;
    }
    30% {
        bottom: 70%;
        right: 20%;
    }
    40% {
        bottom: 75%;
        right: 50%;
    }
    50% {
        bottom: 100%;
        right: 50%;
    }
    60% {
        bottom: 75%;
        right: 50%;
    }
    70% {
        bottom: 70%;
        right: 20%;
    }
    80% {
        bottom: 10%;
        right: 50%;
    }
    100% {
        bottom: 0%;
        right: 50%;
    }
}
.mini-stars .star:nth-child(17) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--heading);
    box-shadow: 0 0 15px var(--sub-link), 
                0 0 25px var(--sub-link), 
                0 0 35px var(--sub-link),
                0 0 65px var(--sub-link);
    animation: starsFade17 20s linear infinite;
}

@keyframes starsFade17 {
    0% {
        bottom: 0;
        left: 50%;
    }
    20% {
        bottom: 10%;
        left: 50%;
    }
    30% {
        bottom: 80%;
        left: 20%;
    }
    40% {
        bottom: 75%;
        left: 50%;
    }
    50% {
        bottom: 100%;
        left: 50%;
    }
    60% {
        bottom: 75%;
        left: 50%;
    }
    70% {
        bottom: 80%;
        left: 20%;
    }
    80% {
        bottom: 10%;
        left: 50%;
    }
    100% {
        bottom: 0%;
        left: 50%;
    }

}
.mini-stars .star:nth-child(18) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(-50%);
    background: var(--heading);
    box-shadow: 0 0 15px var(--sub-link), 
                0 0 25px var(--sub-link), 
                0 0 35px var(--sub-link),
                0 0 65px var(--sub-link);
    animation: starsFade18 20s linear infinite;
}

@keyframes starsFade18 {
    0% {
        bottom: 0;
        right: 50%;
    }
    20% {
        bottom: 10%;
        right: 50%;
    }
    30% {
        bottom: 80%;
        right: 20%;
    }
    40% {
        bottom: 75%;
        right: 50%;
    }
    50% {
        bottom: 100%;
        right: 50%;
    }
    60% {
        bottom: 75%;
        right: 50%;
    }
    70% {
        bottom: 80%;
        right: 20%;
    }
    80% {
        bottom: 10%;
        right: 50%;
    }
    100% {
        bottom: 0%;
        right: 50%;
    }
}
.mini-stars .star:nth-child(19) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--heading);
    box-shadow: 0 0 15px var(--sub-link), 
                0 0 25px var(--sub-link), 
                0 0 35px var(--sub-link),
                0 0 65px var(--sub-link);
    animation: starsFade19 20s linear infinite;
}

@keyframes starsFade19 {
    0% {
        bottom: 0;
        left: 50%;
    }
    20% {
        bottom: 10%;
        left: 50%;
    }
    30% {
        bottom: 90%;
        left: 20%;
    }
    40% {
        bottom: 75%;
        left: 50%;
    }
    50% {
        bottom: 100%;
        left: 50%;
    }
    60% {
        bottom: 75%;
        left: 50%;
    }
    70% {
        bottom: 90%;
        left: 20%;
    }
    80% {
        bottom: 10%;
        left: 50%;
    }
    100% {
        bottom: 0%;
        left: 50%;
    }

}
.mini-stars .star:nth-child(20) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(-50%);
    background: var(--heading);
    box-shadow: 0 0 15px var(--sub-link), 
                0 0 25px var(--sub-link), 
                0 0 35px var(--sub-link),
                0 0 65px var(--sub-link);
    animation: starsFade20 20s linear infinite;
}

@keyframes starsFade20 {
    0% {
        bottom: 0;
        right: 50%;
    }
    20% {
        bottom: 10%;
        right: 50%;
    }
    30% {
        bottom: 90%;
        right: 20%;
    }
    40% {
        bottom: 75%;
        right: 50%;
    }
    50% {
        bottom: 100%;
        right: 50%;
    }
    60% {
        bottom: 75%;
        right: 50%;
    }
    70% {
        bottom: 90%;
        right: 20%;
    }
    80% {
        bottom: 10%;
        right: 50%;
    }
    100% {
        bottom: 0%;
        right: 50%;
    }
}
.mini-stars .star:nth-child(21) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--heading);
    box-shadow: 0 0 15px var(--sub-link), 
                0 0 25px var(--sub-link), 
                0 0 35px var(--sub-link),
                0 0 65px var(--sub-link);
    animation: starsFade21 20s linear infinite;
}

@keyframes starsFade21 {
    0% {
        bottom: 0;
        left: 50%;
    }
    20% {
        bottom: 10%;
        left: 50%;
    }
    30% {
        bottom: 100%;
        left: 20%;
    }
    40% {
        bottom: 75%;
        left: 50%;
    }
    50% {
        bottom: 100%;
        left: 50%;
    }
    60% {
        bottom: 75%;
        left: 50%;
    }
    70% {
        bottom: 100%;
        left: 20%;
    }
    80% {
        bottom: 10%;
        left: 50%;
    }
    100% {
        bottom: 0%;
        left: 50%;
    }

}
.mini-stars .star:nth-child(22) {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(-50%);
    background: var(--heading);
    box-shadow: 0 0 15px var(--sub-link), 
                0 0 25px var(--sub-link), 
                0 0 35px var(--sub-link),
                0 0 65px var(--sub-link);
    animation: starsFade22 20s linear infinite;
}

@keyframes starsFade22 {
    0% {
        bottom: 0;
        right: 50%;
    }
    20% {
        bottom: 10%;
        right: 50%;
    }
    30% {
        bottom: 100%;
        right: 20%;
    }
    40% {
        bottom: 75%;
        right: 50%;
    }
    50% {
        bottom: 100%;
        right: 50%;
    }
    60% {
        bottom: 75%;
        right: 50%;
    }
    70% {
        bottom: 100%;
        right: 20%;
    }
    80% {
        bottom: 10%;
        right: 50%;
    }
    100% {
        bottom: 0%;
        right: 50%;
    }
}


.title {
    font-family: var(--heading-font);
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    z-index: -50;
}
.heading {
    font-size: 50px;
    font-weight: 600;
}
#typewriter-text {
    border-right: 2px solid var(--link);
  white-space: nowrap;
  overflow: hidden;
  color: var(--link);
}
.heading:first-child {
    font-size: 60px;
    & span {
        color: var(--link);
    }
}
/* Banner Section */

/* Common Parts */
.common_section {
    padding: 6.25rem 0 5rem;
}
.common_title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.common_title h2 {
    font-family: var(--heading-font);
    width: fit-content;
    /* color: #FFFFFF; */
    font-size: 3rem;
    font-weight: 700;
    position: relative;
    background: linear-gradient(45deg,#FFFFFF, var(--link));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
}
.slideAnimation {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background: linear-gradient(45deg, transparent, #FFFFFF, transparent);
    animation: slideShow .1s linear 1 forwards;
}
@keyframes slideShow {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}
/* Common Parts */
/* About Section */
.about {
    background-color: var(--heading);
}
.about_text {
    background-color: var(--body);
    box-shadow: 0 15px 20px var(--sub-body);
    border-radius: 1rem;
    overflow: hidden;
}
.left {
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left p:first-child {
    font-size: 25px;
    & span {
        display: inline-block;
        margin-left: 4px;
        color: var(--link);
    }
}
.left p {
    color: #FFFFFF;
}
.left p:nth-child(2) {
    letter-spacing: 1px;
}
.left .buttons {
    margin-top: 100px;
    display: flex;
    gap: 25px;
}
.actionBtn {
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
    display: inline-block;
    padding: 10px 25px;
    background: var(--link);
    border-radius: .8rem;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
}
.actionBtn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background: linear-gradient(45deg, transparent, #FFFFFF, transparent);
}
.actionBtn:hover::before {
    animation: actionBtn .2s linear 1 forwards;
}
@keyframes actionBtn {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}
.actionBtn:nth-child(2) {
    background: var(--heading);
}
.right {
    padding: 10px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--sub-link);
}
.right .profile {
    width: 250px;
    height: 300px;
    /* border: 3px solid var(--link); */
    border-radius: 40%;
    overflow: hidden;
}

.personal_details {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: start;
}
.personal_details pre {
    font-family: var(--primary-font);
    font-size: 18px;
    white-space: pre-line;
    line-height: 40px;
}
/* About Section */

/* Skills Section */
.skill {
    margin-top: 25px;
}
.skill .tag {
    font-size: 25px;
    color: var(--white);
}
.skill-bar {
  background: var(--heading);
  border-radius: 8px;
  overflow: hidden;
  height: 20px;
  position: relative;
}

.skill-level {
  height: 100%;
  width: 0;
  background: linear-gradient(to right, var(--heading), var(--link));
  position: relative;
}

.skill-percent {
  position: absolute;
  right: 10px;
  top: -2px;
  color: var(--body);
  font-weight: bold;
}
/* Skills Section */

